@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
:root {
  margin: 0;
  padding: 0;
}
@keyframes SlideIn {
  0% {
    transform: translateY(-1000%);
    opacity: 0;
  }
  25% {
    transform: translateY(-70%);
    opacity: 0.7;
  }
  50% {
    transform: translateY(10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in {
  animation: SlideIn 2s ease-out;
}
.slide-in-bottom {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-top {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    transform: scale(2);
    filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform: scale(1);
    filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
